* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #080a0f;
  color: #f5f7fa;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
}

.hero {
  min-height: 55vh;
  padding: 70px 7%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;

  background:
    radial-gradient(
      circle at 75% 20%,
      #273a55 0,
      #101620 42%,
      #080a0f 76%
    );
}

.hero h1 {
  font-size: clamp(4rem, 12vw, 9rem);
  line-height: .85;
  margin: 18px 0;
  font-weight: 900;
  letter-spacing: -.08em;
}

.hero p {
  letter-spacing: .2em;
  color: #aeb9c8;
}

.live,
small {
  font-size: .78rem;
  letter-spacing: .15em;
  font-weight: 800;
  color: #9fb4cf;
}

.live {
  display: inline-block;
  padding: 8px 12px;
  border: 1px solid #34445a;
  border-radius: 99px;
}

.hero button {
  border: 0;
  border-radius: 12px;
  padding: 15px 22px;
  background: #f5f7fa;
  color: #080a0f;
  font-weight: 900;
  cursor: pointer;
  width: max-content;
}

main {
  max-width: 1100px;
  margin: -45px auto 60px;
  padding: 0 20px;
  position: relative;
}

.card {
  background: #10151e;
  border: 1px solid #202a38;
  border-radius: 22px;
  padding: 28px;
  margin: 20px 0;
  box-shadow: 0 14px 40px #0004;
}

.player {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 25px;
}

.columns {
  display: grid;
  grid-template-columns: 1.35fr 1fr;
  gap: 20px;
}

.card h2 {
  margin: .35em 0;
  font-size: 1.7rem;
}

.player audio {
  width: min(420px, 100%);
}

.news > div {
  padding: 13px 0;
  border-bottom: 1px solid #26303d;
}

.card li {
  padding: 8px;
}

.top10 {
  columns: 2;
  padding-left: 25px;
}

.socials {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.socials a {
  padding: 12px 16px;
  border: 1px solid #34445a;
  border-radius: 12px;
  color: #fff;
  text-decoration: none;
}

footer {
  text-align: center;
  padding: 40px 20px;
  border-top: 1px solid #202a38;
  color: #aeb9c8;
}

@media (max-width: 760px) {

  .hero {
    min-height: 60vh;
    padding: 45px 6%;
  }

  .columns {
    grid-template-columns: 1fr;
  }

  .player {
    flex-direction: column;
    align-items: flex-start;
  }

  .top10 {
    columns: 1;
  }

  .hero p {
    letter-spacing: .1em;
    font-size: .8rem;
  }

}
